# Entornos Virtuales
.venv/
venv/
ENV/
env/
.kilo

# Caché de Python y Pruebas
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Logs y Archivos Temporales
*.log
.DS_Store
Thumbs.db
kumu.md
oferta_comercial.md
